In [1]:
import pandas as pd
import truck

# import matplotlib.pyplot as plt
# import numpy as np
# import cartopy.crs as ccrs
# import cartopy.feature as cfeature
# import data_cleaning
# import os
# import data_preprocessing
# import geopandas as gpd
# from shapely.geometry import Point

In [2]:
dfs = pd.read_pickle('data/merged_csv.pickle')

In [3]:
unique_ids = dfs.device_id.unique()
unique_ids

array([865284041059449, 860112043090440, 865284042621460, 865284045631409,
       865284041017991, 865284041043096, 860112043028614, 860112042444465,
       865284045671025, 865284042623375, 860112043970013, 865284045609777,
       865284045657107, 860112046982791, 865284042623383, 860112042274961,
       865284045665555, 865284045671843, 865284041025804, 865284040722609,
       865284041043146, 865284042628929, 865284041051180, 865284040711586,
       865284041142864, 865284041045133, 865284042692677, 865284045603747,
       860112041817323, 865284042681027, 860112047051810])

In [4]:
truck_01_02 = truck.FLEET([860112047051810, 860112047051810],dfs)
truck_01_02.get_stops(time_threshold=pd.Timedelta(hours=.5))
# truck_01_02.get_address()

truck_01_02.fleetstops_dataframe

,index,waiting_time,latitude,longitude,percent,ts,id
0,23,3 days 18:56:33,39.291988,-121.660210,0.073761,2023-11-03 01:05:23,860112047051810
1,401,2 days 20:30:11,39.291908,-121.660309,0.055561,2023-12-23 00:10:14,860112047051810
2,113,2 days 20:22:33,33.979687,-117.622002,0.055458,2023-11-27 23:03:25,860112047051810
3,41,2 days 04:03:02,44.902225,-122.960030,0.042217,2023-11-07 05:30:18,860112047051810
4,511,1 days 15:53:00,39.291924,-121.660393,0.032348,2024-01-10 05:25:54,860112047051810
...,...,...,...,...,...,...,...
101,19,0 days 00:42:25,36.699825,-119.789108,0.000573,2023-11-02 19:21:49,860112047051810
102,193,0 days 00:38:55,33.856133,-117.915039,0.000526,2023-12-08 20:30:19,860112047051810
103,397,0 days 00:37:54,38.226028,-121.419174,0.000512,2023-12-22 18:17:34,860112047051810
104,523,0 days 00:35:27,44.903309,-122.960030,0.000479,2024-01-12 15:53:50,860112047051810
105,569,0 days 00:34:02,43.539032,-123.288864,0.000460,2024-01-17 23:38:28,860112047051810